//
// Dashboard layout
//

.dashboard {
  color: $gray-lighter;
}

.infobar {
  border-bottom: solid 1px $gray-light;

  .col-sm-3 {
    border-right: solid 1px $gray-light;
  }

  .col-sm-3:last-child {
    border-right: solid 0px $gray-light;
  }

  &--subtitle {
    line-height: $headings-line-height
  }
  &--kpi {
    color: $white;
    font-family: $font-family-sans-serif;
    font-size: $font-size-h2;
    line-height: $headings-line-height;
    margin-bottom: 0.75rem;
    text-transform: uppercase;

    small {
      font-family: $font-family-base;
      font-size: $font-size-h6;
    }
  }
}

// Graph with focus

.graph {
  min-height: 300px;
  margin-bottom: ($spacer-y * 2);
  padding: $spacer;
}

svg {
  font: 10px sans-serif;
}

.area {
  fill: $brand-blue;
  clip-path: url(#clip);
}

.axis path,
.axis line {
  fill: none;
  stroke: $white;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: $gray;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

