//
// Login layout
//

body.login {
  background-color: $gray-light;
  background-image: url('../../img/bg-login.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: $gray-dark;
  margin-top: 2rem;
  padding-top: 0;
  min-height: auto;

  h4 {
    margin-bottom: 1.25rem;
  }
}

@include media-breakpoint-up(md) {
  body.login {
    margin-top: 8rem;
    min-height: 28rem;
  }
}

.alert {
  max-width: 330px;
  margin: 10px auto;
}

.form-signin {
  max-width: 330px;
  padding: 30px;
  margin: 0 auto;
  background-color: $white;
  border: $card-border-width solid $card-border-color;
  border-radius: $border-radius-sm;
  @include box-shadow(0 3px 5px rgba(0,0,0,.125));
}
.form-signin .form-signin-heading,
.form-signin .checkbox,
.form-signin .btn {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input[type="input"] {
  margin-bottom: 10px;
}