//
// Networks layout
//

.network-location {
  
}

.network-id {
  font-family: $font-family-sans-serif;

  small {
    font-weight: bold;
  }
}

.network-service:first-child {
  border-top: solid 0px $gray-lighter !important;
}

.network-service {
  border-top: solid 1px $gray-lighter;
  margin-top: ($spacer-y / 2);
  padding-top: ($spacer-y / 2);

  &--link {
    line-height: 2;
    display: inline-block;
    width: 100%;
  }

  &--subtitle {
    margin-bottom: 0 !important;
  }

  &--kpi {
    font-family: $font-family-sans-serif;
  }
}

