//
// Theme styles for Quantum
//

.icon-hamburger {
  display: inline-block;
  margin-top: 1px;
  width: 20px;
  height: 17px;
  background-color: transparent;
  background-image: url('../../img/icon-hamburger.png');
  background-repeat: no-repeat;
  background-size: 20px 17px;
}

.btn {
  text-transform: uppercase;
}

// Page Heading
.page-heading {
  padding-bottom: $spacer-y;
}

@include media-breakpoint-down(sm) {
  .page-heading {
    font-size: 1.5rem;
    padding-bottom: ($spacer-y / 2);
  }
}

// Separator
.separator {
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;

  span {
    color: inherit;
    display: inline-block;
    position: relative;
  }

  span:before {
    right: 100%;
    margin-right: 1rem;
  }

  span:after {
    left: 100%;
    margin-left: 1rem;
  }

  span:before,
  span:after {
    border-bottom: 1px solid $gray-lighter;
    content: "";
    height: ($font-size-h6 / 2);
    position: absolute;
    top: 0;
    width: 100%;
  }
}

@include media-breakpoint-down(md) {
  .separator {
    span:before,
    span:after {
      max-width: 20px;
    }
  }
}


// Alternate styles
//
// Ty

.network-id small,
.card-text small {
  font-size: 70%;
}

// Tabs

.nav-tabs {
  margin: 0.25rem auto 0 auto;

  .nav-link.active {
    @include plain-hover-focus {
      color: $brand-warning;
      border-top: none;
      border-right: none;
      border-bottom: solid 4px $brand-warning;
      border-left: none;
    }
  }
}

.nav-tabs li:first-child {
  padding-left: 1.75rem;
}

.nav-tabs:after {
  border-bottom: 1px solid $gray-light;
  content: "";
  height: 1px;
  width: 100%;
}

// Cards

.card-deck-wrapper {
  margin-top: 1.25rem;
}

// Maps
#mapCanvas {
  width: 100%;
}

// Need to have absolute value for map canvas height for each breakpoint
#mapCanvas {
  height: 600px;
}

//
// Sidebar
//

/* Hide for mobile, show later */
.sidebar {
  display: none;

  &--subtitle {
    margin-top: $spacer-y;
    margin-bottom: $spacer-y;
  }

  &--profile {
    margin-top: ($spacer-y * 2);
    margin-bottom: ($spacer-y * 2);

    a {
      color: $white;
      text-decoration: none;
    }

    a:hover {
      color: $gray-light;
      text-decoration: none;
    }
  }
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: $near-black;
    border-right: 1px solid #000;
    z-index: $zindex-sidbar;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
  height: auto;
  width: 100%;
  line-height: 2.5;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #000;
  border-left: solid 4px $brand-warning;
  padding-left: 16px;
}

.collapse-sidebar {
  border-top: solid 1px $gray-dark;
}

.user-name {
  font-size: $font-size-lg;
  font-weight: 600;
}

.user-role {
  font-size: $font-size-sm;
  font-weight: 300;
}


//
// Main content
//

.main {
  padding: $spacer-x;
}
@media (min-width: 768px) {
  .main {
    padding: $spacer-y .9375rem;
  }
}

//
// Footer layout
//

html {
  position: relative;
  min-height: 100%;
}

.footer {
  background-color: $black;
  font-family: $font-family-sans-serif;
  position: relative;
  bottom: 0;
  width: 100%;
  line-height: 1.25;
  margin-top: $spacer-y;
  z-index: $zindex-footer;

  img {
    width: 130px;
    height: 30px;
  }

  p {
      color: $gray;
      margin: 20px 15px;

      a {
        font-family: $font-family-base;
      }
    }
}

@include media-breakpoint-up(md) {
  
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  
  .footer {
    position: absolute;
    /* Set the fixed height of the footer */
    height: 60px;
    line-height: 1.5;
  }
}


footer img {
  float: left;
  margin: 15px;
}

